<!DOCTYPE html>
<%- include("./partials/head/head") %>
<body>
    <%- include("./partials/header/header") %>
    <main>
        <h1>Bienvenidos</h1>
        <section class="contenedor">


        </section>
    </main>
    <section class="contenedor">

    </section>
    <script src="/js/principal.js" type="module">
    </script>
</body>
</html>